body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Helvetica';
}

.center {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically.
  align-items: center; */
}

html, body {
  margin: 0;
  padding: 0;
  
}
p, h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
#c_array {
  font-family: 'Courier New';
}

.button_container {
  display: flex;
  justify-content: center; /* Centers the buttons horizontally */
  gap: 25px; /* Adds space between the buttons */
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}
