body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Helvetica';
}

.center {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically.
  align-items: center; */
}

html, body {
  margin: 0;
  padding: 0;
  
}
p, h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
#c_array {
  font-family: 'Courier New';
}



/*
 *  Button stuff
 */

 .button_container {
  display: flex;
  justify-content: center; /* Centers the buttons horizontally */
  gap: 35px; /* Adds space between the buttons */
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: white; /* Text colour */
  border-radius: 10px;
  border: 2px solid #660000;
  background-color: #330000; /* Button colour */
  transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease; /* Smooth colour change */
}
button:hover {
  background-color: #dd0000;
  border: 2px solid #ffffff;
}

button:active {
  background-color: #ffffff;
  color: #dd0000;
  border: 2px solid #dd0000;
  transition: none;
}